body {
  font-family: 'Montserrat', serif;
  padding-top: 54px;
  background-color: #e9e7ea;
}

p {

  margin-top: 40px;
  color: 5d5d5e;


}


#textUrl a {
	outline: none;
  }
  
#textUrl  a:link {
	color: #c16c23;
  }
  
#textUrl  a:visited {
	color: #c16c23;
  }
  
#textUrl a:focus {
	text-decoration: none;
	background: #82867f72;
  }
  
#textUrl  a:hover {
	text-decoration: underline;
  }


@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem;
}

.list-social-icons a {
  color: #798087;
}

.list-social-icons a:hover {
  color: #333333;
}

.text-center a{
  color: #495057;
}

.text-center a:hover{
  color: #f0f5f5;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #333333;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}


section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #333333 !important;
}

.text-primary {
  color: #333333 !important;
}

a {
  color: #333333;
}

a:hover, a:focus, a:active {
  color: #824027;
}

.mb-0:hover .text-primary {
  /*transition: -webkit-transform 2s ease-in-out, -webkit-filter 2s 1s ease-in-out;*/
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: white !important;
}

li h6 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%);
  display: none;
  margin:0;
  color: #e9e7ea;
}

li:hover h6 {
  display: block;
  color: #333333;
}





.contact {
		position: absolute;
        margin-left: 200px;
        margin-top: 30px;
		background: rgba(49,114,166,0.3);
        height: 150px;
        width: 200px;
		border-radius: 2px;
		-ms-border-radius: 2px;
		-moz-border-radius: 2px;
		-o-border-radius: 2px;
		-webkit-border-radius: 30px;
}
.contact .envelope {
		position: absolute;
		height: 93px;
		width: 165px;
		left: 50%;
		margin-left: -83px;
		top: 50%;
		margin-top: -50px;
		background: #F9F9F9;

		transition: margin-top 300ms;
		-ms-transition: margin-top 300ms;
		-moz-transition: margin-top 300ms;
		-o-transition: margin-top 300ms;
		-webkit-transition: margin-top 300ms;
}
.contact:hover .envelope {
		transition-delay: 150ms;
		-ms-transition-delay: 150ms;
		-moz-transition-delay: 150ms;
		-o-transition-delay: 150ms;
		margin-top: -20px;
}
.contact .envelope .top {
		position: absolute;
		top: -3px;
		left: 0px;
		width: 100%;
		height: 73px;
		z-index: 30;
		overflow: hidden;

		transform-origin: top;
		-ms-transform-origin: top;
		-moz-transform-origin: top;
		-o-transform-origin: top;
		-webkit-transform-origin: top;

		transition: transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
		-ms-transition: -ms-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
		-moz-transition: -moz-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
		-o-transition: -o-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
		-webkit-transition: -webkit-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
}
.contact:hover .envelope .top {
		transition: transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
		-ms-transition: -ms-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
		-moz-transition: -moz-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
		-o-transition: -o-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
		-webkit-transition: -webkit-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;

		height: 10px;
		top: -60px;

		transform: rotateX(180deg);
		-ms-transform: rotateX(180deg);
		-moz-transform: rotateX(180deg);
		-o-transform: rotateX(180deg);
		-webkit-transform: rotateX(180deg);
}
.contact .envelope .outer {
		position: absolute;
		bottom: 0px;
		left: 0px;
		border-left: 83px solid transparent;
		border-right: 82px solid transparent;
		border-top: 70px solid #EEE;
}
.contact .envelope .outer .inner {
		position: absolute;
		left: -81px;
		top: -73px;
		border-left: 81px solid transparent;
		border-right: 80px solid transparent;
		border-top: 68px solid #333;
}
.contact .envelope .bottom {
		position: absolute;
		z-index: 20;
		bottom: 0px;
		left: 2px;
		border-left: 81px solid transparent;
		border-right: 80px solid transparent;
		border-bottom: 45px solid #333;
}
.contact .envelope .left {
		position: absolute;
		z-index: 20; top: 0px;
		left: 0px;
		border-left: 81px solid #333;
		border-top: 45px solid transparent;
		border-bottom: 45px solid transparent;
}
.contact .envelope .right {
		position: absolute;
		z-index: 20;
		top: 0px;
		right: 0px;
		border-right: 80px solid #333;
		border-top: 45px solid transparent;
		border-bottom: 45px solid transparent;
}
.contact .envelope .cover {
		position: absolute;
		z-index: 15;
		bottom: 0px;
		left: 0px;
		height: 55%;
		width: 100%;
		background: #EEE;
}
.contact .envelope .paper {
		position: absolute;
		height: 83px;
		padding-top: 10px;
		width: 100%;
		top: 0px;
		left: 0px;
		background: #F9F9F9;
		z-index: 10;
		transition: margin-top 300ms 0ms;
		-ms-transition: margin-top 300ms 0ms;
		-moz-transition: margin-top 300ms 0ms;
		-o-transition: margin-top 300ms 0ms;
		-webkit-transition: margin-top 300ms 0ms;
}
.contact:hover .envelope .paper {
		margin-top: -60px;
		transition: margin-top 300ms 150ms;
		-ms-transition: margin-top 300ms 150ms;
		-moz-transition: margin-top 300ms 150ms;
		-o-transition: margin-top 300ms 150ms;
		-webkit-transition: margin-top 300ms 150ms;
}
.contact .envelope .paper a {
		position: relative;
		display: block;
		font-size: 14px;
		margin: 5px;
		margin-bottom: 0px;
		text-align: center;
		color: #333;
		text-decoration: none;
}
.contact .envelope .paper a.call .i {
		position: absolute;
		top: 2px;
		left: 20px;
		display: inline-block;
		width: 3px;
		height: 5px;
		border-width: 5px 0 5px 2px;
		border-style: solid;
		border-color: #555;
		background: transparent;

		transform: rotate(-30deg);
		-ms-transform: rotate(-30deg);
		-moz-transform: rotate(-30deg);
		-o-transform: rotate(-30deg);
		-webkit-transform: rotate(-30deg);

		border-top-left-radius: 3px 5px;
		border-bottom-left-radius: 3px 5px;
		-moz-border-radius-topleft: 3px 5px;
		-moz-border-radius-bottomleft: 3px 5px;
		-webkit-border-top-left-radius: 3px 5px;
		-webkit-border-bottom-left-radius: 3px 5px;

		transition: border-color 300ms;
		-ms-transition: border-color 300ms;
		-moz-transition: border-color 300ms;
		-o-transition: border-color 300ms;
		-webkit-transition: border-color 300ms;
}
.contact .envelope .paper a {
		color: #333;

		transition: color 200ms;
		-ms-transition: color 200ms;
		-moz-transition: color 200ms;
		-o-transition: color 200ms;
		-webkit-transition: color 200ms;
}
.contact .envelope .paper a:hover {
		color: #EEE;
}
.contact .envelope .paper a.call:hover .i {
		border-color: #DDD;
}
.contact .envelope .paper a.mail .i {
		position: absolute;
		top: 0px;
		left: 17px;
		display: inline-block;
		font-size: 13px;
		font-weight: bold;
}

.extra{

		height: 5000px;
		background: linear-gradient(180deg, #e9e7ea 0%, #4a4949 50%, #333333 75%);
}

.playground{

	margin: 0;
    overflow: hidden;
    height: 100%;
}


canvas{
    width: 100%;
    height: 100%;
	padding-top: 100px;
	padding-bottom: 100px ;
    background: #333333;
}



.bg-modal{

    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    right: 300px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.modal-content{
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    position: relative;
    right: 150px;

}

input{
width: 50%;
display: block;
margin: 15px auto;

}

.close{
position: absolute;
top: 0;
right: 14px;
font-size: 40px;
transform: rotate(45deg);
cursor: pointer;

}
.project-tech{
background-color: rgba(101, 86, 86, 0.3);
padding: 15px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.project-tech-list {
	text-decoration: underline;
	font-size: 15px;
	font-style: oblique;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 0px 0px 10px;
    padding: 0px;
    list-style: none;
}

#project-tech-list li {
	padding: 0px 10px; 
}


/* slow appearing animation feature */
.hidden{

	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1s;
}

.show{

	opacity: 1;
	filter: blur(0);
	transform: translateX(0);

}

@media(prefers-reduced) {
	.hidden{
		transition: none;
	}
}

.logo:nth-child(2) {
	transition-delay: 100ms;
}
.logo:nth-child(3) {
	transition-delay: 200ms;
	
}
.logo:nth-child(4) {

	transition-delay: 300ms;
}
.logo:nth-child(5) {

	transition-delay: 400ms;
}
.logo:nth-child(6) {

	transition-delay: 500ms;
}

.logo:nth-child(7) {

	transition-delay: 600ms;
}

.logo:nth-child(8) {

	transition-delay: 700ms;
}

.logo:nth-child(9) {

	transition-delay: 800ms;
}

.logo:nth-child(10) {

	transition-delay: 900ms;
}


.bulletpoint:nth-child(2) {
	transition-delay: 100ms;
}
.bulletpoint:nth-child(3) {
	transition-delay: 200ms;	
}
.lbulletpointogo:nth-child(4) {
	transition-delay: 300ms;
}
.bulletpoint:nth-child(5) {
	transition-delay: 400ms;
}
.bulletpoint:nth-child(6) {
	transition-delay: 500ms;
}

.bulletpoint:nth-child(7) {
	transition-delay: 600ms;
}
.bulletpoint:nth-child(8) {
	transition-delay: 800ms;
}
.bulletpoint:nth-child(9) {
	transition-delay: 1000ms;
}


.nav-item:nth-child(2) {
	transition-delay: 100ms;
}
.nav-item:nth-child(3) {
	transition-delay: 200ms;	
}
.nav-item:nth-child(4) {
	transition-delay: 300ms;
}
.nav-item:nth-child(5) {
	transition-delay: 400ms;
}
.nav-item:nth-child(6) {
	transition-delay: 500ms;
}

.nav-item:nth-child(7) {
	transition-delay: 600ms;
}
.nav-item:nth-child(8) {
	transition-delay: 800ms;
}
.nav-item:nth-child(9) {
	transition-delay: 1000ms;
}

.nav-item:nth-child(10) {
	transition-delay: 1200ms;
}